<ul class="nav">
    {{#foreach navigation}}
        <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></li>
    {{/foreach}}
    <li><a class="slider-toggle slider-toggle-top" href="#">Get sponsored now!</a></li>
</ul>
