@import "variables";

.site-header {
    .blog-logo {
        height: 40px;
    }
}

.nav {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
    font-family: 'Source Sans Pro', sans-serif;
    
    a:link, 
    a:visited{
        color: #000;
    }
    
    .nav-current a {
        color: #ca4f2d;
        border-bottom: 0px solid $primary-color;
    }
}

.menu-btn::selection {
    background: transparent;
}

a:link, 
a:visited{
    color: #eb882e;
}