/* ==========================================================================
   SUN Navigation
   ========================================================================== */

.nav{
    float: right;
    font-size: 16px;
    margin: 17px 0px;

    list-style: none;

    li{
        float: left;
        text-align: left;
        padding: 0 15px;

        &:last-child{
            padding-right: 0px;
        }
    }

    a:link, 
    a:visited{
        color: #FFF;
    }

    a:hover{
        opacity: 0.7;
    }

    .nav-current a{
        border-bottom: 2px solid $primary-color;
        padding-bottom: 5px;
    }

}