/* ==========================================================================
   SUN Navigation
   ========================================================================== */

.nav{
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
    font-family: 'Source Sans Pro', sans-serif;
}
